/*
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

html{
    padding: 10px;
}
.headline-container {
    background-color: #333;
    padding: 20px;
}

.headline {
    color: #fff;
    text-align: center;
}


t {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}
.left-container{
    text-align: center;
    flex-wrap: wrap;
}
.right-container{
    text-align: center;
}
.container-wrapper{
    display: flex;
    justify-content: space-between;
}
*/
html {
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.headline-container {
    background-color: #333;
    padding: 20px;
}

.headline {
    color: #fff;
    text-align: center;
    text-decoration: underline;
}

.container-wrapper {
    display: flex;
    justify-content: space-between;
}

.container {
    width:
        45%;

    padding:
        10px;
}

#left-container {
    /*background-color: lightgrey;*/
    display: flex;
    flex-direction: column;
    gap:
        10px;
    /* Abstand zwischen den Buttons */

}

button {
    border-radius: 8px;


}

#right-container {
    background-color: lightgrey;
    border:
        2px solid black;
}