.headline{
    display: flex;
    justify-content:center;
    background-color:dimgrey;
    border:
        2px solid black;

    color: aliceblue;
}
.login{
    justify-content: center;
    background-color: dimgray;

}
.login{
    /*background-color: dimgray; */
    justify-content: center;
    display: flex;
}
.bodycontainer{

    justify-content: center;
}
.logincontainer{
    justify-content: center;
    display: flex;
    background-color: dimgray;
}
.left-container{
    width: 50%;
    text-align: right;
    float: left;
}
.right-container{
    text-align: left;
    width: 50%;
    float: right;
}
.credentials{
    justify-content: space-evenly;

}
body{
    background-color: lightgray;
}
header{
    padding-bottom: 10px;
}